body{
    margin:0;
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h2{
    font-family: 'Georgia', "Times", "Times New Roman", serif;
    color: #4aaaa5;
    border-bottom: solid;
    border-color:#cccccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 20px;

}
header{
    display:flex;
    justify-content: center;
    background: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', "Times", "Times New Roman", serif;
    height:80px;
    border-bottom: solid 2px;

}
footer{
    position: fixed;
    left:0;
    bottom:0;
    padding-top:7px;
    border-top:solid 5px #4aaaa5;
    background: #666666;
    height:40px;
    text-align: center;
    color: #cccccc;
    font-size: 12px;
    width: 100%;
}
.content{
    background: url("assets/images/gravel.png");
    display: flex;
    background: #ffffff;
    border-color: #dddddd; 
    justify-content: center;
    height: 600px;
}
h1{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 22px;
}
.logo{
    justify-content: flex-start;
    height: 80px;
    width: 250px;
    background: #4aaaa5;
    color:#ffffff; 
}
.content-width{
    background: #ffffff;
    display:flex;
    justify-content: space-between;
    width: 960px;
    height: 80px;
}
#forms{
    flex-direction: column;
}
a{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    top: 30px;
    padding:0px 20px 0px 20px;
    text-decoration: none;
    color:#777777;
    
}
#about{
    border-right: solid 1px #cccccc
}
#portfolio{
    border-right: solid 1px #cccccc
}
.content-width-2{
    width: 960px;
    height: 80px;
}
.text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
